<!DOCTYPE html>
<html>
<head>
<title>{{ the_title }}</title> <!--the_title为变量值，可修改-->
<link rel="stylesheet" href="static/index.css" /> <!--调用样式-->
</head>
<body>
<div class="logo_image"></div>
<div class="h1">
<h1 class="title">最后是名人分析功能</h1> <!--title-->
</div>
<img src="https://www.logosc.cn/uploads/resources/2018/11/26/1543210848_thumb.jpg" width="2100px" , height="800px"，>   <!--banner 图像链接-->

<div class="ip">
<form method="post" action="/ipdinweis">   <!--执行命令-->
<div class="function">
<p>省份:<label class="weather_r">{{province}}</label></p>      <!--输出内容-->
<p>城市:<label class="weather_r">{{city}}</label></p>          <!--输出内容-->
<p>编码:<label class="weather_r">{{adcode}}</label></p>        <!--输出内容-->
<p>地理编码:<label class="weather_r">{{rectangle}}</label></p>  <!--输出内容-->
</div>
</form>
</div>
</form>

<div class="dili">  
<form method="post" action="/person">   <!--执行命令-->
<p>请放入图片链接<input type="text" name="person"></p>   <!--输入文本框-->
<p><button type="submit">点击进行名人分析</button></p>    <!--按钮功能-->   
</form>
</div>
</form>

<div class="viewlog"> 
<form action="/viewlog">
<button type="submit">查看日志</button>
</form>
</div>
</body>
</html>